body, h1, h2, h3, h4, p, ul, ol {
    margin: 0;
}

body {
    background-image: linear-gradient(
        to bottom right, 
        darkred, 
        red
    );
}

header {
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    height: 60px;
    margin-top: 50px;
}

footer {
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    height: 15px;
    margin-bottom: 50px;
}

main {
    margin: 50px 100px;
    padding: 20px;
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 20px;
    background: whitesmoke;
    border-radius: 10px;
    min-height: calc(100vh - 335px);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bar {
    height: 40px;
    margin-top: 20px;
}

.bar ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.bar li {
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    margin: 10px;
    place-self: center;
}

header a, nav ul li a, a:hover {
    text-decoration: none;
    color: black;
}