article {
    background: whitesmoke;
    border-radius: 5px;
    padding: 10px;
}

.keys {
    color: red
}

.strings {
    color: blue;
}

.numbers {
    color: green;
}

.null {
    color: purple;
}