{% extends 'base.html' %}

{% block style %}
    {{ super() }}
    
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='about.css') }}"
    >
{% endblock %}

{% block title %}
    {{ super() }} - About
{% endblock %}
        
{% block content %}
    <h1>About</h1>

    <p>
        The RΣGRΣSSIONZ API provides you with a plethora of data. You provide the input; we provide the analysis. Using our API, you can finally answer various important questions.
    </p>

    {% include 'sections/provided_output.html' %}

    {% include 'sections/function_types.html' %}

    {% include 'sections/solved_problems.html' %}

    {% include 'articles/signup_plug.html' %}
{% endblock %}