{% extends 'base.html' %}

{% block style %}
    {{ super() }}
    
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='home.css') }}"
    >
{% endblock %}

{% block title %}
    {{ super() }}
{% endblock %}

{% block content %}
    <p>Use this API to find regression models to fit your data sets.</p>
    <p>Random Image:</p>
    <img src="/images/random.png" alt="my plot">
    <p>Sin Image:</p>
    <img src="/images/sin.png" alt="my plot">
{% endblock %}