{% extends 'base.html' %}

{% block style %}
    {{ super() }}
    
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='home.css') }}"
    >
{% endblock %}

{% block title %}
    {{ super() }}
{% endblock %}

{% block content %}
    <p>
        We're constantly bombarded by so much data in our day-to-day lives that it can be difficult to figure out just what to do with it. Thankfully, regression analysis allows us to generate models from data that allow us to make informed decisions about what might happen in the future.

    </p>

    <p>
        The RΣGRΣSSIONZ API gives you an easy way to determine multiple regression models from a single data set. In addition to the resultant equations themselves, we also provide you with their correlation coefficients, so you know just how well they fit your data. We also give you a list of key points associated with each model, so you can see how those models could provide answers about maximization or related topics. 
    </p>

    <p>
        To join, you just need to <a href="{{ url_for('signup_route' )}}">sign up</a> with your email address. It's quick, easy, and free!
    </p>
{% endblock %}