{% extends 'base.html' %}

{% block style %}
    {{ super() }}
    
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='home.css') }}"
    >
{% endblock %}

{% block title %}
    {{ super() }}
{% endblock %}

{% block content %}
    <p>Use this API to find regression models to fit your data sets.</p>
    <p>Linear Image:</p>
    <img src="/images/linear.png" alt="my plot">
    <p>Quadratic Image:</p>
    <img src="/images/quadratic.png" alt="my plot">
    <p>Cubic Image:</p>
    <img src="/images/cubic.png" alt="my plot">
    <p>Hyperbolic Image:</p>
    <img src="/images/hyperbolic.png" alt="my plot">
    <p>Exponential Image:</p>
    <img src="/images/exponential.png" alt="my plot">
    <p>Logarithmic Image:</p>
    <img src="/images/logarithmic.png" alt="my plot">
    <p>Logistic Image:</p>
    <img src="/images/logistic.png" alt="my plot">
    <p>Sinusoidal Image:</p>
    <img src="/images/sinusoidal.png" alt="my plot">
    <p>Root Image:</p>
    <img src="/images/root.png" alt="my plot">
    <p>Max Image:</p>
    <img src="/images/maximum.png" alt="my plot">
    <p>Min Image:</p>
    <img src="/images/minimum.png" alt="my plot">
    <p>Inflection Image:</p>
    <img src="/images/inflection.png" alt="my plot">
{% endblock %}