{% extends 'base.html' %}

{% block style %}
    {{ super() }}
    
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='math.css') }}"
    >
{% endblock %}

{% block title %}
    {{ super() }} - Math
{% endblock %}

{% block content %}
    <h2>Math</h2>

    <p>
        Here are some explanations of mathematical concepts relevant to the output from the API. Learn how to use the API to create equations, what correlation means, and which types of points reveal which types of information.
    </p>

    {% include 'sections/equations.html' %}

    {% include 'sections/correlation.html' %}
    
    {% include 'sections/points.html' %}
{% endblock %}