{% extends 'base.html' %}

{% block style %}
    {{ super() }}
    
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='usage.css') }}"
    >
{% endblock %}

{% block title %}
    {{ super() }} - Usage
{% endblock %}

{% block content %}
    <h2>Usage</h2>

    <p>Here's a guide for how to use the API. Find out how to sign up for an account, how to create a new collection of regression models, how to get an existing collection, how to update an existing collection, how to delete an existing collection, how certain fields must be formatted, and how to use the results. Plus, see an example that walks you through all the stages of an initial POST request.</p>

    <h3>How to Sign Up</h3>

    <ol>
        <li>
            Sign up with your email
        </li>
        <li>
            Store your API key somewhere safe
        </li>
    </ol>

    <h3>How to Create a New Collection</h3>

    <ol>
        <li>
            Choose a source code for this collection
        </li>
        <li>
            Make a POST request
            <ul>
                <li>
                    Include the API key that you received and the source code that you chose as parameters in the URL
                </li>
                <li>
                    Send the data set, the precision, the title, the indepenent variable name, and the dependent variable name as an object in the body of the request
                </li>
            </ul>
        </li>
        <li>
            Receive an object containing the results of the regression analysis
        </li>
    </ol>

    <h3>How to Get an Existing Collection</h3>

    <ol>
        <li>
            Recall your API key and what source code you previously chose for this collection
        </li>
        <li>
            Make a GET request that includes the API key and the source code as parameters in the URL
        </li>
        <li>
            Receive an object containing the results of the regression analysis
        </li>
    </ol>

    <h3>How to Update an Existing Collection</h3>

    <ol>
        <li>
            Recall your API key and what source code you previously chose for this collection
        </li>
        <li>
            Make a PUT request
            <ul>
                <li>
                    Include the API key and the source code as parameters in the URL
                </li>
                <li>
                    Send the data set, the precision, the title, the indepenent variable name, and the dependent variable name as an object in the body of the request (even if you only want to update one of those fields, you must send information for all of them)
                </li>
            </ul>
        </li>
        <li>
            Receive an object containing the updated results of the regression analysis
        </li>
    </ol>

    <h3>How to Delete an Existing Collection</h3>

    <ol>
        <li>
            Recall your API key and what source code you previously chose for this collection
        </li>
        <li>
            Make a DELETE request that includes the API key and the source code as parameters in the URL
        </li>
        <li>
            Receive a status of 204 to indicate that the collection was successfully deleted
        </li>
    </ol>

    <h3>How to Format Key Fields</h3>

    <ul>
        <li>
            URL submitted for requests
            {% include 'snippets/get_url.html' %}
            <ul>
                <li>
                    API key must be the key you received when you signed up
                </li>
                <li>
                    Source code must be a string of alphanumeric characters less than 100-characters long
                </li>
                <li>
                    Source code must be unique for each of your collections (i.e., you may use 1 as a source code and another user may also use 1 as their source code, but you cannot use 1 as a source code for two separate collections)
                </li>
            </ul>
        </li>
        <li>
            Body submitted with POST and PUT requests
            {% include 'snippets/post_body.html' %}
            <ul>
                <li>
                    Title must be a string (it should describe the nature of the data set)
                </li>
                <li>
                    Independent must be a string (it should describe the independent variable of the data set)
                </li>
                <li>
                    Dependent must be a string (it should describe the dependent variable of the data set)
                </li>
                <li>
                    Precision must be a positive integer (it determines to how many digits all answers will round)
                </li>
                <li>
                    Data set must be a list of lists (it is the raw data you want to analyze)
                    <ul>
                        <li>
                            Outer list (i.e., the data set) must be enclosed in square brackets
                        </li>
                        <li>
                            Outer list must include at least 10 inner lists (i.e., you must provide at least 10 points)
                        </li>
                        <li>
                            Inner lists (i.e., the points) must be enclosed in square brackets
                        </li>
                        <li>
                            Inner lists must contain exactly two elements
                        </li>
                        <li>
                            Elements of inner lists (i.e., the coordinates) must be numbers
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <h3>How to Use the Returned Object</h3>

    {% include 'snippets/response_object.html' %}

    <ul>
        <li>
            title: The original string you included when you created the collection; this represents the title of the collection
        </li>
        <li>
            independent: The original string you indicated when you created the collection; this represents the independent variable of the collection
        </li>
        <li>
            dependent: The original string you indicated when you created the collection; this represents the dependent variable of the collection
        </li>
        <li>
            precision: The original number you provided when you created the collection to determine how to round the results
        </li>
        <li>
            data_set: The original list of lists you provided when you created the collection; the inner lists constitute the points analyzed
        </li>
        <li>
            source: The original string you provided when you created the collection; this is the collection's unique identifier among all your existing collections
        </li>
        <li>
            date: String representation of when the collection was either created or last updated
        </li>
        <li>
            best_fit: String indicating which regression model has the highest correlation coefficient
        </li>
        <li>
            linear_coefficients: Array of two numbers serving as the coefficients of the linear equation that best fits the data set
        </li>
        <li>
            linear_points: Object of arrays of numbers representing different key points on the graph of the linear equation indicated by linear_coefficients (roots will contain one point, while the other three will be null)
        </li>
        <li>
            linear_correlation: Number representing the correlation coefficient of the linear equation indicated by linear_coefficients
        </li>
        <li>
            quadratic_coefficients: Array of three numbers serving as the coefficients of the quadratic equation that best fits the data set
        </li>
        <li>
            quadratic_points: Object of arrays of numbers representing different key points on the graph of the quadratic equation indicated by quadratic_coefficients (inflections will contain null; either maxima or minima will contain one point; roots may contain either zero, one, or two points)
        </li>
        <li>
            quadratic_correlation: Number representing the correlation coefficient of the quadratic equation indicated by quadratic_coefficients
        </li>
        <li>
            cubic_coefficients: Array of four numbers serving as the coefficients of the cubic equation that best fits the data set
        </li>
        <li>
            cubic_points: Object of arrays of numbers representing different key points on the graph of the cubic equation indicated by cubic_coefficients (inflections will contain one point; maxima and minima will either both contain one point or both contain null; roots may contain either one, two, or three points)
        </li>
        <li>
            cubic_correlation: Number representing the correlation coefficient of the cubic equation indicated by cubic_coefficients
        </li>
        <li>
            hyperbolic_coefficients: Array of two numbers serving as the coefficients of the hyperbolic equation that best fits the data set
        </li>
        <li>
            hyperbolic_points: Object of arrays of numbers representing different key points on the graph of the hyperbolic equation indicated by hyperbolic_coefficients (roots will contain one point, while the other three will be null)
        </li>
        <li>
            hyperbolic_correlation: Number representing the correlation coefficient of the hyperbolic equation indicated by hyperbolic_coefficients
        </li>
        <li>
            exponential_coefficients: Array of two numbers serving as the coefficients of the exponential equation that best fits the data set
        </li>
        <li>
            exponential_points: Object of arrays of numbers representing different key points on the graph of the exponential equation indicated by exponential_coefficients (all will be null)
        </li>
        <li>
            exponential_correlation: Number representing the correlation coefficient of the exponential equation indicated by exponential_coefficients
        </li>
        <li>
            logarithmic_coefficients: Array of two numbers serving as the coefficients of the logarithmic equation that best fits the data set
        </li>
        <li>
            logarithmic_points: Object of arrays of numbers representing different key points on the graph of the logarithmic equation indicated by logarithmic_coefficients (roots will contain one point, while the other three will be null)
        </li>
        <li>
            logarithmic_correlation: Number representing the correlation coefficient of the logarithmic equation indicated by logarithmic_coefficients
        </li>
        <li>
            logistic_coefficients: Array of three numbers serving as the coefficients of the logistic equation that best fits the data set
        </li>
        <li>
            logistic_points: Object of arrays of numbers representing different key points on the graph of the logistic equation indicated by logistic_coefficients (inflections will contain one point, while the other three will be null)
        </li>
        <li>
            logistic_correlation: Number representing the correlation coefficient of the logistic equation indicated by logistic_coefficients
        </li>
        <li>
            sinusoidal_coefficients: Array of four numbers serving as the coefficients of the sinusoidal equation that best fits the data set
        </li>
        <li>
            sinusoidal_points: Object of arrays of numbers representing different key points on the graph of the sinusoidal equation indicated by sinusoidal_coefficients (string values will be provided for general forms where applicable)
        </li>
        <li>
            sinusoidal_correlation: Number representing the correlation coefficient of the sinusoidal equation indicated by sinusoidal_coefficients
        </li>
    </ul>

    <h3>Example</h3>
{% endblock %}