<article class="snippet"><pre><code><strong>{</strong>
    <span class="keys">"title"</span>: <span class="strings">"Covid-19"</span>,
    <span class="keys">"independent"</span>: <span class="strings">"month"</span>,
    <span class="keys">"dependent"</span>: <span class="strings">"deaths"</span>,
    <span class="keys">"precision"</span>: <span class="numbers">4</span>,
    <span class="keys">"data_set"</span>: [
        [<span class="numbers">1</span>, <span class="numbers">4</span>], 
        [<span class="numbers">2</span>, <span class="numbers">20</span>], 
        [<span class="numbers">3</span>, <span class="numbers">7117</span>], 
        [<span class="numbers">4</span>, <span class="numbers">72390</span>], 
        [<span class="numbers">5</span>, <span class="numbers">110593</span>], 
        [<span class="numbers">6</span>, <span class="numbers">128525</span>], 
        [<span class="numbers">7</span>, <span class="numbers">159539</span>], 
        [<span class="numbers">8</span>, <span class="numbers">189293</span>], 
        [<span class="numbers">9</span>, <span class="numbers">208337</span>], 
        [<span class="numbers">10</span>, <span class="numbers">232942</span>], 
        [<span class="numbers">11</span>, <span class="numbers">285620</span>], 
        [<span class="numbers">12</span>, <span class="numbers">382580</span>]
    ]
<strong>}</strong>
</code></pre></article>