<article><pre><code>{
    "best_fit": "cubic",
    "cubic_coefficients": [
        247.9681,
        -3618.624,
        42882.5477,
        -60367.6061
    ],
    "cubic_correlation": 0.9882,
    "cubic_points": {
        "inflections": [
            [
                4.8644,
                91146.927
            ]
        ],
        "maxima": [
            null
        ],
        "minima": [
            null
        ],
        "roots": [
            [
                1.6001,
                0.0
            ]
        ]
    },
    "data_set": [
        [
            1.0,
            4.0
        ],
        [
            2.0,
            20.0
        ],
        [
            3.0,
            7117.0
        ],
        [
            4.0,
            72390.0
        ],
        [
            5.0,
            110593.0
        ],
        [
            6.0,
            128525.0
        ],
        [
            7.0,
            159539.0
        ],
        [
            8.0,
            189293.0
        ],
        [
            9.0,
            208337.0
        ],
        [
            10.0,
            232942.0
        ],
        [
            11.0,
            285620.0
        ],
        [
            12.0,
            382580.0
        ]
    ],
    "date": "Sat, 24 Apr 2021 20:16:39 GMT",
    "dependent": "deaths",
    "exponential_coefficients": [
        101.8906,
        2.3453
    ],
    "exponential_correlation": 0.0,
    "exponential_points": {
        "inflections": [
            null
        ],
        "maxima": [
            null
        ],
        "minima": [
            null
        ],
        "roots": [
            null
        ]
    },
    "hyperbolic_coefficients": [
        -321000.1953,
        231090.9361
    ],
    "hyperbolic_correlation": 0.7056,
    "hyperbolic_points": {
        "inflections": [
            null
        ],
        "maxima": [
            null
        ],
        "minima": [
            null
        ],
        "roots": [
            [
                1.3891,
                0.0
            ]
        ]
    },
    "independent": "month",
    "linear_coefficients": [
        32539.7203,
        -63428.1818
    ],
    "linear_correlation": 0.9795,
    "linear_points": {
        "inflections": [
            null
        ],
        "maxima": [
            null
        ],
        "minima": [
            null
        ],
        "roots": [
            [
                1.9493,
                0.0
            ]
        ]
    },
    "logarithmic_coefficients": [
        141709.0574,
        -87950.7771
    ],
    "logarithmic_correlation": 0.8943,
    "logarithmic_points": {
        "inflections": [
            null
        ],
        "maxima": [
            null
        ],
        "minima": [
            null
        ],
        "roots": [
            [
                1.8601,
                0.0
            ]
        ]
    },
    "logistic_coefficients": [
        564205.2863,
        0.3277,
        10.4152
    ],
    "logistic_correlation": 0.9756,
    "logistic_points": {
        "inflections": [
            [
                10.4152,
                282102.6432
            ]
        ],
        "maxima": [
            null
        ],
        "minima": [
            null
        ],
        "roots": [
            null
        ]
    },
    "precision": 4,
    "quadratic_coefficients": [
        1216.7547,
        16721.9086,
        -26519.9545
    ],
    "quadratic_correlation": 0.9859,
    "quadratic_points": {
        "inflections": [
            null
        ],
        "maxima": [
            null
        ],
        "minima": [
            [
                -6.8715,
                -83972.4195
            ]
        ],
        "roots": [
            [
                -15.179,
                0.0
            ],
            [
                1.4359,
                0.0
            ]
        ]
    },
    "sinusoidal_coefficients": [
        382575.0,
        0.098,
        11.0,
        302192.3727
    ],
    "sinusoidal_correlation": 0.9839,
    "sinusoidal_points": {
        "inflections": [
            [
                11.0,
                302192.3727
            ],
            [
                "11.0 + 32.0571k",
                302192.3727
            ]
        ],
        "maxima": [
            [
                "27.0285 + 64.1142k",
                684767.3727
            ]
        ],
        "minima": [
            [
                "59.0856 + 64.1142k",
                -80382.6273
            ]
        ],
        "roots": [
            [
                1.7079,
                0.0
            ],
            [
                "1.7079 + 64.1141k",
                0.0
            ],
            [
                "52.3492 + 64.1141k",
                0.0
            ]
        ]
    },
    "source": "2357",
    "title": "Covid-19"
}
</code></pre></article>