<article class="snippet"><pre><code><strong>{</strong>
    <span class="keys">"best_fit"</span>: <span class="strings">"cubic"</span>,
    <span class="keys">"cubic_coefficients"</span>: [
        <span class="numbers">247.9681</span>,
        <span class="numbers">-3618.624</span>,
        <span class="numbers">42882.5477</span>,
        <span class="numbers">-60367.6061</span>
    ],
    <span class="keys">"cubic_correlation"</span>: <span class="numbers">0.9882</span>,
    <span class="keys">"cubic_points"</span>: {
        <span class="keys">"inflections"</span>: [
            [
                <span class="numbers">4.8644</span>,
                <span class="numbers">91146.927</span>
            ]
        ],
        <span class="keys">"maxima"</span>: [
            <span class="null">null</span>
        ],
        <span class="keys">"minima"</span>: [
            <span class="null">null</span>
        ],
        <span class="keys">"roots"</span>: [
            [
                <span class="numbers">1.6001</span>,
                <span class="numbers">0.0</span>
            ]
        ]
    },
    <span class="keys">"data_set"</span>: [
        [
            <span class="numbers">1.0</span>,
            <span class="numbers">4.0</span>
        ],
        [
            <span class="numbers">2.0</span>,
            <span class="numbers">20.0</span>
        ],
        [
            <span class="numbers">3.0</span>,
            <span class="numbers">7117.0</span>
        ],
        [
            <span class="numbers">4.0</span>,
            <span class="numbers">72390.0</span>
        ],
        [
            <span class="numbers">5.0</span>,
            <span class="numbers">110593.0</span>
        ],
        [
            <span class="numbers">6.0</span>,
            <span class="numbers">128525.0</span>
        ],
        [
            <span class="numbers">7.0</span>,
            <span class="numbers">159539.0</span>
        ],
        [
            <span class="numbers">8.0</span>,
            <span class="numbers">189293.0</span>
        ],
        [
            <span class="numbers">9.0</span>,
            <span class="numbers">208337.0</span>
        ],
        [
            <span class="numbers">10.0</span>,
            <span class="numbers">232942.0</span>
        ],
        [
            <span class="numbers">11.0</span>,
            <span class="numbers">285620.0</span>
        ],
        [
            <span class="numbers">12.0</span>,
            <span class="numbers">382580.0</span>
        ]
    ],
    <span class="keys">"date"</span>: <span class="strings">"Sat, 24 Apr 2021 20:16:39 GMT"</span>,
    <span class="keys">"dependent"</span>: <span class="strings">"deaths"</span>,
    <span class="keys">"exponential_coefficients"</span>: [
        <span class="numbers">101.8906</span>,
        <span class="numbers">2.3453</span>
    ],
    <span class="keys">"exponential_correlation"</span>: <span class="numbers">0.0</span>,
    <span class="keys">"exponential_points"</span>: {
        <span class="keys">"inflections"</span>: [
            <span class="null">null</span>
        ],
        <span class="keys">"maxima"</span>: [
            <span class="null">null</span>
        ],
        <span class="keys">"minima"</span>: [
            <span class="null">null</span>
        ],
        <span class="keys">"roots"</span>: [
            <span class="null">null</span>
        ]
    },
    <span class="keys">"hyperbolic_coefficients"</span>: [
        <span class="numbers">-321000.1953</span>,
        <span class="numbers">231090.9361</span>
    ],
    <span class="keys">"hyperbolic_correlation"</span>: <span class="numbers">0.7056</span>,
    <span class="keys">"hyperbolic_points"</span>: {
        <span class="keys">"inflections"</span>: [
            <span class="null">null</span>
        ],
        <span class="keys">"maxima"</span>: [
            <span class="null">null</span>
        ],
        <span class="keys">"minima"</span>: [
            <span class="null">null</span>
        ],
        <span class="keys">"roots"</span>: [
            [
                <span class="numbers">1.3891</span>,
                <span class="numbers">0.0</span>
            ]
        ]
    },
    <span class="keys">"independent"</span>: <span class="strings">"month"</span>,
    <span class="keys">"linear_coefficients"</span>: [
        <span class="numbers">32539.7203</span>,
        <span class="numbers">-63428.1818</span>
    ],
    <span class="keys">"linear_correlation"</span>: <span class="numbers">0.9795</span>,
    <span class="keys">"linear_points"</span>: {
        <span class="keys">"inflections"</span>: [
            <span class="null">null</span>
        ],
        <span class="keys">"maxima"</span>: [
            <span class="null">null</span>
        ],
        <span class="keys">"minima"</span>: [
            <span class="null">null</span>
        ],
        <span class="keys">"roots"</span>: [
            [
                <span class="numbers">1.9493</span>,
                <span class="numbers">0.0</span>
            ]
        ]
    },
    <span class="keys">"logarithmic_coefficients"</span>: [
        <span class="numbers">141709.0574</span>,
        <span class="numbers">-87950.7771</span>
    ],
    <span class="keys">"logarithmic_correlation"</span>: <span class="numbers">0.8943</span>,
    <span class="keys">"logarithmic_points"</span>: {
        <span class="keys">"inflections"</span>: [
            <span class="null">null</span>
        ],
        <span class="keys">"maxima"</span>: [
            <span class="null">null</span>
        ],
        <span class="keys">"minima"</span>: [
            <span class="null">null</span>
        ],
        <span class="keys">"roots"</span>: [
            [
                <span class="numbers">1.8601</span>,
                <span class="numbers">0.0</span>
            ]
        ]
    },
    <span class="keys">"logistic_coefficients"</span>: [
        <span class="numbers">564205.2863</span>,
        <span class="numbers">0.3277</span>,
        <span class="numbers">10.4152</span>
    ],
    <span class="keys">"logistic_correlation"</span>: <span class="numbers">0.9756</span>,
    <span class="keys">"logistic_points"</span>: {
        <span class="keys">"inflections"</span>: [
            [
                <span class="numbers">10.4152</span>,
                <span class="numbers">282102.6432</span>
            ]
        ],
        <span class="keys">"maxima"</span>: [
            <span class="null">null</span>
        ],
        <span class="keys">"minima"</span>: [
            <span class="null">null</span>
        ],
        <span class="keys">"roots"</span>: [
            <span class="null">null</span>
        ]
    },
    <span class="keys">"precision"</span>: <span class="numbers">4</span>,
    <span class="keys">"quadratic_coefficients"</span>: [
        <span class="numbers">1216.7547</span>,
        <span class="numbers">16721.9086</span>,
        <span class="numbers">-26519.9545</span>
    ],
    <span class="keys">"quadratic_correlation"</span>: <span class="numbers">0.9859</span>,
    <span class="keys">"quadratic_points"</span>: {
        <span class="keys">"inflections"</span>: [
            <span class="null">null</span>
        ],
        <span class="keys">"maxima"</span>: [
            <span class="null">null</span>
        ],
        <span class="keys">"minima"</span>: [
            [
                <span class="numbers">-6.8715</span>,
                <span class="numbers">-83972.4195</span>
            ]
        ],
        <span class="keys">"roots"</span>: [
            [
                <span class="numbers">-15.179</span>,
                <span class="numbers">0.0</span>
            ],
            [
                <span class="numbers">1.4359</span>,
                <span class="numbers">0.0</span>
            ]
        ]
    },
    <span class="keys">"sinusoidal_coefficients"</span>: [
        <span class="numbers">382575.0</span>,
        <span class="numbers">0.098</span>,
        <span class="numbers">11.0</span>,
        <span class="numbers">302192.3727</span>
    ],
    <span class="keys">"sinusoidal_correlation"</span>: <span class="numbers">0.9839</span>,
    <span class="keys">"sinusoidal_points"</span>: {
        <span class="keys">"inflections"</span>: [
            [
                <span class="numbers">11.0</span>,
                <span class="numbers">302192.3727</span>
            ],
            [
                <span class="strings">"11.0 + 32.0571k"</span>,
                <span class="numbers">302192.3727</span>
            ]
        ],
        <span class="keys">"maxima"</span>: [
            [
                <span class="strings">"27.0285 + 64.1142k"</span>,
                <span class="numbers">684767.3727</span>
            ]
        ],
        <span class="keys">"minima"</span>: [
            [
                <span class="strings">"59.0856 + 64.1142k"</span>,
                <span class="numbers">-80382.6273</span>
            ]
        ],
        <span class="keys">"roots"</span>: [
            [
                <span class="numbers">1.7079</span>,
                <span class="numbers">0.0</span>
            ],
            [
                <span class="strings">"1.7079 + 64.1141k"</span>,
                <span class="numbers">0.0</span>
            ],
            [
                <span class="strings">"52.3492 + 64.1141k"</span>,
                <span class="numbers">0.0</span>
            ]
        ]
    },
    <span class="keys">"source"</span>: <span class="strings">"2357"</span>,
    <span class="keys">"title"</span>: <span class="strings">"Covid-19"</span>
<strong>}</strong>
</code></pre></article>