<section>
    <h2 id="correlation">Correlation</h2>

    <p>
        The correlation coefficient measures how well a model fits a data set. The closer the correlation is to 1.0, the better the fit; the closer the correlation is to 0.0, the worse the fit. There are multiple ways to calculate the correlation coefficient of a given model. This API uses the following approach:
    </p>

    <ol>
        <li>
            Create a list of all the observed values (i.e., the y-coordinates of all the points in the data set)
            <p>
                $ y_i = [ y_1, y_2, \cdots, y_n ] $
            </p>
        </li>

        <li>
            Create a list of all the predicted values (i.e., the y-coordinates you would get for each x-coordinate if you used the created model)
            <p>
                $ \hat{y}_i = [ \hat{y}_1, \hat{y}_2, \cdots, \hat{y}_n ] $
            </p>
        </li>

        <li>
            Calculate the arithmetic mean of all the observed values (i.e., the average y-coordinate from the original data set)
            <p>
                $ \bar{y} = \frac{1}{n}\cdot{\sum\limits_{i=1}^n y_i} $
            </p>
        </li>

        <li>
            Create a list of all the residuals (i.e., the difference each observed value and its corresponding predicted value)
            <p>
                $ e_i = [ y_1 - \hat{y}_1, y_2 - \hat{y}_2, \cdots, y_n - \hat{y}_n ] $
            </p>
        </li>

        <li>
            Create a list of all the deviations (i.e., the difference between each observed value and the mean value)
            <p>
                $ d_i = [ y_1 - \bar{y}, y_2 - \bar{y}, \cdots, y_n - \bar{y} ] $
            </p>
        </li>

        <li>
            Calcuate the sum of squares of all residuals
            <p>
                $ SS_{res} = \sum\limits_{i=1}^n e_i^2 $
            </p>
        </li>

        <li>
            Calcuate the sum of squares of all deviations
            <p>
                $ SS_{dev} = \sum\limits_{i=1}^n d_i^2 $
            </p>
        </li>

        <li>
            Calcuate the correlation coefficient by taking the square root of the difference between 1 and the ratio of the sums of squares
            <p>
                $ r = \sqrt{1 - \frac{SS_{res}}{SS_{dev}}} $
            </p>
        </li>
    </ol>
</section>