<h3>How to Create a New Collection</h3>

<ol>
    <li>
        Choose a source code for this collection
    </li>
    <li>
        Make a POST request
        <ul>
            <li>
                Include the API key that you received and the source code that you chose as parameters in the URL
            </li>
            <li>
                Send the data set, the precision, the title, the indepenent variable name, and the dependent variable name as an object in the body of the request
            </li>
        </ul>
    </li>
    <li>
        Receive an object containing the results of the regression analysis
    </li>
</ol>