<section>
    <h2 id="equations">Equations</h2>

    <p>
        All functions can be created by using the numbers provided in the coefficients array. For example, if the <code>linear_coefficients</code> array is <code>[7.64, 3.41]</code>, then that means the <code>a</code> value of the linear equation is 7.64 and the <code>b</code> value of the linear equation is 3.41.
    </p>

    {% include 'articles/linear.html' %}

    {% include 'articles/quadratic.html' %}

    {% include 'articles/cubic.html' %}

    {% include 'articles/hyperbolic.html' %}

    {% include 'articles/exponential.html' %}

    {% include 'articles/logarithmic.html' %}

    {% include 'articles/logistic.html' %}

    {% include 'articles/sinusoidal.html' %}
</section>