<h3 id="equations">Equations</h3>

<p>
    All functions can be created by using the numbers provided in the coefficients array. For example, if the <code>linear_coefficients</code> array is <code>[7.64, 3.41]</code>, then that means the <code>a</code> value of the linear equation is 7.64 and the <code>b</code> value of the linear equation is 3.41.
</p>

<ul>
    <li>
        {% include 'articles/linear.html' %}
    </li>

    <li>
        {% include 'articles/quadratic.html' %}
    </li>

    <li>
        {% include 'articles/cubic.html' %}
    </li>

    <li>
        {% include 'articles/hyperbolic.html' %}
    </li>

    <li>
        {% include 'articles/exponential.html' %}
    </li>

    <li>
        {% include 'articles/logarithmic.html' %}
    </li>

    <li>
        {% include 'articles/logistic.html' %}
    </li>
    
    <li>
        {% include 'articles/sinusoidal.html' %}
    </li>
</ul>