<h3 id="equations">Equations</h3>

<p>
    All functions can be created by using the numbers provided in the coefficients array. For example, if the <code>linear_coefficients</code> array is <code>[7.64, 3.41]</code>, then that means the <code>a</code> value of the linear equation is 7.64 and the <code>b</code> value of the linear equation is 3.41.
</p>

<ul>
    <li>
        <h4>Linear</h4>
        <ul>
            <li>
                <h5>Description</h5>
                <p>
                    Straight line with a constant slope and a single x-intercept
                </p>
            </li>
            <li>
                <h5>Application</h5>
                <p>
                    Best suited to situations with constant growth
                </p>
            </li>
            <li>
                <h5>General Form</h5>
                <p lang="latex">
                    y = a\cdot{x} + b
                </p>
            </li>
            <li>
                <h5>Specific Example</h5>
                <p lang="latex">
                    y = 2\cdot{x} + 3
                </p>
                <img src="/images/linear.png" alt="linear graph">
            </li>
        </ul>
    </li>
    <li>
        <h4>Quadratic</h4>
        <ul>
            <li>
                <h5>Description</h5>
                <p>
                    Parabola with either a maximum or a minimum
                </p>
            </li>
            <li>
                <h5>Application</h5>
                <p>
                    Best suited to situations where you hope to maximize or minize a specific variable
                </p>
            </li>
            <li>
                <h5>General Form</h5>
                <p lang="latex">
                    y = a\cdot{x^2} + b\cdot{x} + c
                </p>
            </li>
            <li>
                <h5>Specific Example</h5>
                <p lang="latex">
                    y = x^2 - 12\cdot{x} + 66
                </p>
                <img src="/images/quadratic.png" alt="quadratic graph">
            </li>
        </ul>
    </li>
    <li>
        <h4>Cubic</h4>
        <ul>
            <li>
                <h5>Description</h5>
                <p>
                    Curve with potentially both a maximum and a minimum
                </p>
            </li>
            <li>
                <h5>Application</h5>
                <p>
                    Best suited to situations where you assume a variable can be maximized at one instance and minimized at another
                </p>
            </li>
            <li>
                <h5>General Form</h5>
                <p lang="latex">
                    y = a\cdot{x^3} + b\cdot{x^2} + c\cdot{x} + d
                </p>
            </li>
            <li>
                <h5>Specific Example</h5>
                <p lang="latex">
                    y = x^3 - 15\cdot{x^2} + 63\cdot{x} - 31
                </p>
                <img src="/images/cubic.png" alt="cubic graph">
            </li>
        </ul>
    </li>
    <li>
        <h4>Hyperbolic</h4>
        <ul>
            <li>
                <h5>Description</h5>
                <p>
                    Curve that approaches an asymptote
                </p>
            </li>
            <li>
                <h5>Application</h5>
                <p>
                    Best suited to situations where you assume the output will fall to a certain value over time
                </p>
            </li>
            <li>
                <h5>General Form</h5>
                <p lang="latex">
                    y = a\cdot{\frac{1}{x}} + b
                </p>
            </li>
            <li>
                <h5>Specific Example</h5>
                <p lang="latex">
                    y = 2\cdot{\frac{1}{x}} + 3
                </p>
                <img src="/images/hyperbolic.png" alt="hyperbolic graph">
            </li>
        </ul>
    </li>
    <li>
        <h4>Exponential</h4>
        <ul>
            <li>
                <h5>Description</h5>
                <p>
                    Curve that increases or decreases at a faster rate than any of its peers
                </p>
            </li>
            <li>
                <h5>Application</h5>
                <p>
                    Best suited to situations where you assume the output will increase or decrease rapidly and without any limits
                </p>
            </li>
            <li>
                <h5>General Form</h5>
                <p lang="latex">
                    y = a\cdot{b^x}
                </p>
            </li>
            <li>
                <h5>Specific Example</h5>
                <p lang="latex">
                    y = 2\cdot{3^x}
                </p>
                <img src="/images/exponential.png" alt="exponential graph">
            </li>
        </ul>
    </li>
    <li>
        <h4>Logarithmic</h4>
        <ul>
            <li>
                <h5>Description</h5>
                <p>
                    Curve that grows slowly
                </p>
            </li>
            <li>
                <h5>Application</h5>
                <p>
                    Best suited to situations where you assume the output will increase at a slower-than-linear rate
                </p>
            </li>
            <li>
                <h5>General Form</h5>
                <p lang="latex">
                    y = a\cdot{\ln{x}} + b
                </p>
            </li>
            <li>
                <h5>Specific Example</h5>
                <p lang="latex">
                    y = 2\cdot{\ln{x}} + 3
                </p>
                <img src="/images/logarithmic.png" alt="logarithmic graph">
            </li>
        </ul>
    </li>
    <li>
        <h4>Logistic</h4>
        <ul>
            <li>
                <h5>Description</h5>
                <p>
                    Curve that passes through a period of exponential growth before approaching an asymptote
                </p>
            </li>
            <li>
                <h5>Application</h5>
                <p>
                    Best suited to situations where you assume the output will increase rapidly before levelling off
                </p>
            </li>
            <li>
                <h5>General Form</h5>
                <p lang="latex">
                    y = \frac{a}{1 + \text{e}^{-b\cdot(x - c)}}
                </p>
            </li>
            <li>
                <h5>Specific Example</h5>
                <p lang="latex">
                    y = \frac{2}{1 + \text{e}^{-3\cdot(x - 5)}}
                </p>
                <img src="/images/logistic.png" alt="logistic graph">
            </li>
        </ul>
    </li>
    <li>
        <h4>Sinusoidal</h4>
        <ul>
            <li>
                <h5>Description</h5>
                <p>
                    Curve that oscillates back and forth between a maximum and minimum value
                </p>
            </li>
            <li>
                <h5>Application</h5>
                <p>
                    Best suited to situations where you expect cyclical behavior
                </p>
            </li>
            <li>
                <h5>General Form</h5>
                <p lang="latex">
                    y = a\cdot{\sin(b\cdot(x - c))} + d
                </p>
            </li>
            <li>
                <h5>Specific Example</h5>
                <p lang="latex">
                    y = 5\cdot{\sin(2\cdot(x - 3))} + 7
                </p>
                <img src="/images/sinusoidal.png" alt="sinusoidal graph">
            </li>
        </ul>
    </li>
</ul>