<section>
    <h2 id="interpreting">How to Use the Returned Object</h2>

    {% include 'snippets/response_object.html' %}

    <ul>
        <li>
            <code>title</code>: The original string you included when you created the collection; this represents the title of the collection
        </li>

        <li>
            <code>independent</code>: The original string you indicated when you created the collection; this represents the independent variable of the collection
        </li>

        <li>
            <code>dependent</code>: The original string you indicated when you created the collection; this represents the dependent variable of the collection
        </li>

        <li>
            <code>precision</code>: The original number you provided when you created the collection to determine how to round the results
        </li>

        <li>
            <code>data_set</code>: The original list of lists you provided when you created the collection; the inner lists constitute the points analyzed
        </li>

        <li>
            <code>source</code>: The original string you provided when you created the collection; this is the collection's unique identifier among all your existing collections
        </li>

        <li>
            <code>date</code>: String representation of when the collection was either created or last updated
        </li>

        <li>
            <code>best_fit</code>: String indicating which regression model has the highest correlation coefficient (e.g., quadratic, sinusoidal)
        </li>

        <li>
            <code>linear_coefficients</code>: Array of two numbers serving as the coefficients of the linear equation that best fits the data set
        </li>

        <li>
            <code>linear_points</code>: Object of arrays of numbers representing different key points on the graph of the linear equation indicated by linear_coefficients (roots will contain one point, while the other three will be null)
        </li>

        <li>
            <code>linear_correlation</code>: Number representing the correlation coefficient of the linear equation indicated by linear_coefficients
        </li>

        <li>
            <code>quadratic_coefficients</code>: Array of three numbers serving as the coefficients of the quadratic equation that best fits the data set
        </li>

        <li>
            <code>quadratic_points</code>: Object of arrays of numbers representing different key points on the graph of the quadratic equation indicated by quadratic_coefficients (inflections will contain null; either maxima or minima will contain one point; roots may contain either zero, one, or two points)
        </li>

        <li>
            <code>quadratic_correlation</code>: Number representing the correlation coefficient of the quadratic equation indicated by quadratic_coefficients
        </li>

        <li>
            <code>cubic_coefficients</code>: Array of four numbers serving as the coefficients of the cubic equation that best fits the data set
        </li>

        <li>
            <code>cubic_points</code>: Object of arrays of numbers representing different key points on the graph of the cubic equation indicated by cubic_coefficients (inflections will contain one point; maxima and minima will either both contain one point or both contain null; roots may contain either one, two, or three points)
        </li>

        <li>
            <code>cubic_correlation</code>: Number representing the correlation coefficient of the cubic equation indicated by cubic_coefficients
        </li>

        <li>
            <code>hyperbolic_coefficients</code>: Array of two numbers serving as the coefficients of the hyperbolic equation that best fits the data set
        </li>

        <li>
            <code>hyperbolic_points</code>: Object of arrays of numbers representing different key points on the graph of the hyperbolic equation indicated by hyperbolic_coefficients (roots will contain one point, while the other three will be null)
        </li>

        <li>
            <code>hyperbolic_correlation</code>: Number representing the correlation coefficient of the hyperbolic equation indicated by hyperbolic_coefficients
        </li>

        <li>
            <code>exponential_coefficients</code>: Array of two numbers serving as the coefficients of the exponential equation that best fits the data set
        </li>

        <li>
            <code>exponential_points</code>: Object of arrays of numbers representing different key points on the graph of the exponential equation indicated by exponential_coefficients (all will be null)
        </li>

        <li>
            <code>exponential_correlation</code>: Number representing the correlation coefficient of the exponential equation indicated by exponential_coefficients
        </li>

        <li>
            <code>logarithmic_coefficients</code>: Array of two numbers serving as the coefficients of the logarithmic equation that best fits the data set
        </li>

        <li>
            <code>logarithmic_points</code>: Object of arrays of numbers representing different key points on the graph of the logarithmic equation indicated by logarithmic_coefficients (roots will contain one point, while the other three will be null)
        </li>

        <li>
            <code>logarithmic_correlation</code>: Number representing the correlation coefficient of the logarithmic equation indicated by logarithmic_coefficients
        </li>

        <li>
            <code>logistic_coefficients</code>: Array of three numbers serving as the coefficients of the logistic equation that best fits the data set
        </li>

        <li>
            <code>logistic_points</code>: Object of arrays of numbers representing different key points on the graph of the logistic equation indicated by logistic_coefficients (inflections will contain one point, while the other three will be null)
        </li>

        <li>
            <code>logistic_correlation</code>: Number representing the correlation coefficient of the logistic equation indicated by logistic_coefficients
        </li>

        <li>
            <code>sinusoidal_coefficients</code>: Array of four numbers serving as the coefficients of the sinusoidal equation that best fits the data set
        </li>

        <li>
            <code>sinusoidal_points</code>: Object of arrays of numbers representing different key points on the graph of the sinusoidal equation indicated by sinusoidal_coefficients (string values will be provided for general forms where applicable)
        </li>

        <li>
            <code>sinusoidal_correlation</code>: Number representing the correlation coefficient of the sinusoidal equation indicated by sinusoidal_coefficients
        </li>
    </ul>
</section>