<h3 id="points">Points</h3>

<p>
    Every graph is made up of an infinite number of points, but only a few of them are important enough to warrant special mention. These points coincide with visual graphical features (e.g., a turning point).
</p>

<ul>
    <li>
        {% include 'articles/roots.html' %}
    </li>

    <li>
        {% include 'articles/maxima.html' %}
    </li>

    <li>
        {% include 'articles/minima.html' %}
    </li>
    
    <li>
        {% include 'articles/inflections.html' %}
    </li>
</ul>