<h3>Points</h3>

<p>
    Every graph is made up of an infinite number of points, but only a few of them are important enough to warrant special mention. These points coincide with visual graphical features (e.g., a turning point).
</p>

<ul>
    <li>
        <h4>Roots</h4>
        <ul>
            <li>
                Points where the graph crosses the x-axis
            </li>
            <li>
                First coordinate of the point is the x-value where the graph crosses the x-axis; second coordinate is 0 (the y-coordinate of all x-intercepts)
            </li>
            <li>
                Some functions have multiple roots (e.g., cubic, sinusoidal), while others have only one (e.g., linear), and others have none (e.g., exponential)
            </li>
            <li>
                This cubic function has a root at <code>(0.5653, 0.0)</code>
                <img src="/images/root.png" alt="root">
            </li>
        </ul>
    </li>
    <li>
        <h4>Maxima</h4>
        <ul>
            <li>
                Turning points where the graph reaches a relative maximum value before decreasing
            </li>
            <li>
                First coordinate of the point is the x-value where the graph achieves the maximum; second coordinate is the maximum value itself
            </li>
            <li>
                Some functions have multiple points at which they achieve the same maximal value (e.g., sinusoidal), while others have only one maxima (e.g., cubic), and others have none (e.g., linear)
            </li>
            <li>
                This cubic function has a maximum at <code>(3.0, 50.0)</code>
                <img src="/images/maximum.png" alt="maximum">
            </li>
        </ul>
    </li>
    <li>
        <h4>Minima</h4>
        <ul>
            <li>
                Turning points where the graph reaches a relative minimum value before increasing
            </li>
            <li>
                First coordinate of the point is the x-value where the graph achieves the minimum; second coordinate is the minimum value itself
            </li>
            <li>
                Some functions have multiple points at which they achieve the same minimal value (e.g., sinusoidal), while others have only one minima (e.g., cubic), and others have none (e.g., linear)
            </li>
            <li>
                This cubic function has a minimum at <code>(7.0, 18.0)</code>
                <img src="/images/minimum.png" alt="minimum">
            </li>
        </ul>
    </li>
    <li>
        <h4>Inflections</h4>
        <ul>
            <li>
                Points of inflection where the graph changes its concavity and either stops increasing and starts decreasing or stops decreasing and starts increasing
            </li>
            <li>
                First coordinate of the point is the x-value where the graph changes its concavity; second coordinate is the y-value that happens to occur during this changing of concavity
            </li>
            <li>
                Some functions have multiple inflection points (e.g., sinusoidal), while others have only one inflection point (e.g., cubic), and others have none (e.g., linear)
            </li>
            <li>
                This cubic function has an inflection point at <code>(5.0, 34.0)</code>
                <img src="/images/inflection.png" alt="inflection">
            </li>
        </ul>
    </li>
</ul>