<meta 
    property="og:image" 
    content="{{ url_for(
        'static', 
        filename='images/facebook.png'
    ) }}" 
/>

<meta
    property="twitter:image"
    content="{{ url_for(
        'static', 
        filename='images/icon.png'
    ) }}"
/>

<link 
    rel="icon" 
    href="{{ url_for(
        'static', 
        filename='images/favicon.ico'
    ) }}"
>

<link 
    rel="apple-touch-icon" 
    href="{{ url_for(
        'static', 
        filename='images/apple-touch-icon.png'
    ) }}"
>