<nav class="bar">
    <ul>
        <li>
            <a href="{{ url_for('about_route') }}">
                About
            </a>
        </li>

        <li>
            <a href="{{ url_for('usage_route') }}">
                Usage
            </a>
        </li>

        <li>
            <a href="{{ url_for('math_route') }}">
                Math
            </a>
        </li>

        <li>
            <a href="{{ url_for('signup_route' )}}">
                Signup
            </a>
        </li>
    </ul>
</nav>