<nav>
    <p>GUIDE</p>

    <ul>
        <li>
            <a href="{{ url_for('about_route') }}">
                About
            </a>
        </li>

        <li>
            <a href="{{ url_for('usage_route') }}">
                Usage
            </a>

            {% if usage %}
                {% include 'partials/usage_contents.html' %}
            {% endif %}
        </li>

        <li>
            <a href="{{ url_for('math_route') }}">
                Math
            </a>

            {% if math %}
                {% include 'partials/math_contents.html' %}
            {% endif %}
        </li>

        <li>
            <a href="{{ url_for('signup_route' )}}">
                Signup
            </a>
        </li>
    </ul>
</nav>