<nav>
    <strong>Contents</strong>

    <ul>
        <li>
            <a href="#joining">How to Sign Up</a>
        </li>

        <li>
            <a href="#creating">How to Create a Collection</a>
        </li>

        <li>
            <a href="#getting">How to Get a Collection</a>
        </li>

        <li>
            <a href="#updating">How to Update a Collection</a>
        </li>

        <li>
            <a href="#deleting">How to Delete a Collection</a>
        </li>

        <li>
            <a href="#formatting">How to Format Your Submissions</a>
        </li>

        <li>
            <a href="#interpreting">How to Interpret the Response Object</a>
        </li>
        
        <li>
            <a href="#example">Example</a>
        </li>
    </ul>
</nav>