<ul>
    <li>
        <a href="#joining">Sign Up</a>
    </li>

    <li>
        <a href="#creating">Create Collection</a>
    </li>

    <li>
        <a href="#getting">Get Collection</a>
    </li>

    <li>
        <a href="#updating">Update Collection</a>
    </li>

    <li>
        <a href="#deleting">Delete Collection</a>
    </li>

    <li>
        <a href="#formatting">Format Submissions</a>
    </li>

    <li>
        <a href="#interpreting">Interpret Results</a>
    </li>
    
    <li>
        <a href="#example">Example</a>
    </li>
</ul>