@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body, h1, h2, h3, h4, p, ul, ol {
    margin: 0;
}

body {
    background: 
        radial-gradient(
            at 50% 500px, 
            rgba(255, 0, 0, 0.75) 25%, 
            rgba(139, 0, 0, 0.75) 75%
        ), 
        url('/images/sinusoidal.png') 
        center/cover
    ;
}

header {
    height: 80px;
    margin-top: 50px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border: 5px solid white;
    display: grid;
}

header a {
    font-family: 'Tinos', serif;
    font-size: 60px;
    line-height: 60px;
    height: 60px;
    margin: 10px;
    padding: 0;
    align-self: center;
    justify-self: center;
}

footer {
    text-align: center;
    font-style: italic;
    font-size: 15px;
    line-height: 15px;
    height: 15px;
    margin-bottom: 50px;
}

main {
    margin: 50px 100px;
    padding: 25px 75px;
    font-family: 'Tinos', serif;
    font-size: 20px;
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 20px;
    background: whitesmoke;
    border-radius: 10px;
    min-height: calc(100vh - 385px);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bar {
    height: 60px;
    margin-top: 20px;
    background: black;
    color: white;
}

.bar ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.bar li {
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    margin: 10px;
    padding: 10px;
    text-transform: uppercase;
    place-self: center;
    border: 1px solid white;
}

a, a:hover {
    text-decoration: none;
    color: darkred;
    font-weight: bold;
}

a:hover {
    font-style: italic;
}

header a, .bar a, header a:hover, .bar a:hover {
    color: white;
}

.contents a, .contents a:hover {
    color: slategray;
    font-weight: normal;
    text-decoration: underline dashed;
}

.contents a:hover {
    text-decoration: underline solid;
}

mark {
    background-color: transparent;
    font-weight: bold;
    font-style: italic;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
}

h1, h2, h3, h4, .bar li  {
    font-family: 'Staatliches', cursive;
}

p {
    font-family: 'Tinos', serif;
}

.latex {
    font-size: 50px;
    text-shadow: 5px 5px 10px #000;
}