@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body, h1, h2, h3, h4, p, ul, ol, aside {
    margin: 0;
}

body {
    background: repeating-linear-gradient(
        45deg,
        red,
        red 10px,
        darkred 10px,
        darkred 20px
    );
}

aside {
    top: 0;
    position: fixed;
    width: 300px;
    height: 100vh;
    border-right: 1px solid lightgray;
}

header {
    height: 100px;
    background: darkred;
    border-bottom: 1px solid lightgray;
}

header a {
    font-family: 'Tinos', serif;
    font-size: 35px;
    height: 100px;
    width: 300px;
    color: white;
    display: block;
    display: grid;
    align-items: center;
    justify-items: center;
    font-weight: bold;
}

footer {
    text-align: center;
    font-style: italic;
    font-size: 15px;
    line-height: 15px;
    height: 15px;
    margin: 50px 0 50px 300px;
    color: white;
}

main {
    margin: 50px 100px 50px 400px;
    padding: 25px 75px;
    font-family: 'Tinos', serif;
    font-size: 20px;
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 20px;
    background: white;
    min-height: calc(100vh - 215px);
    border: 1px solid darkred;
    border-radius: 5px;
    box-shadow: 3px 3px 3px darkred;
}

section {
    display: grid;
    row-gap: 15px;
}

nav {
    background: gray;
    height: calc(100vh - 100px);
    font-family: 'Roboto', sans-serif;
}

nav p {
    font-family: 'Roboto', sans-serif;
    color: darkred;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

nav ul {
    display: grid;
    padding: 10px 0 0 0;
    list-style-type: none;
}

nav li {
    font-size: 20px;
    line-height: 30px;
    min-height: 30px;
}

nav ul li ul {
    padding-left: 20px;
    padding-bottom: 10px;
    background: darkgray;
}

a, a:hover {
    text-decoration: none;
    font-weight: bold;
}

a {
    color: darkred;
}

a:hover {
    color: red;
}

nav a, header a:hover, nav a:hover {
    color: white;
    font-style: normal;
}

nav a {
    font-weight: normal;
    padding-left: 20px;
}

nav a:hover {
    background: slategray;
    width: 280px;
    display: block;
    color: white;
    font-style: normal;
    font-weight: normal;
}

nav ul ul a:hover {
    width: 260px;
    margin-left: -20px;
    padding-left: 40px;
}

mark {
    background-color: transparent;
    font-weight: bold;
    font-style: italic;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
    text-transform: uppercase;
}

h1, h2, h3, h4  {
    font-family: 'Roboto', sans-serif;
    color: darkred;
}

p {
    font-family: 'Tinos', serif;
}

@media screen and (max-width: 1100px) {
    main {
        margin: 25px 25px 25px 325px;
        padding: 15px 25px;
        min-height: calc(100vh - 115px);
    }

    footer {
        margin: 25px 0 25px 300px;
    }
}

@media screen and (max-width: 800px) {
    aside, header a {
        width: 200px;
    }

    nav a:hover {
        width: 180px;
    }

    nav ul ul li {
        font-size: 15px;
    }

    nav ul ul a:hover {
        width: 160px;
    }

    header a {
        font-size: 25px;
    }

    nav p {
        font-size: 20px;
    }

    main {
        margin-left: 225px;
    }

    footer {
        margin-left: 200px;
    }
}

@media screen and (max-width: 650px) {
    aside {
        width: 100vw;
        height: 131px;
        border-bottom: 1px solid lightgray;
        border-right: none;
        z-index: 1;
    }

    nav {
        height: 30px;
    }

    main {
        margin: 157px 25px 25px 25px;
        min-height: calc(100vh - 247px);
    }

    footer {
        margin-left: 0;
    }

    header a {
        width: 100%;
        font-size: 50px;
    }

    nav p, nav ul ul {
        display: none;
    }

    nav ul {
        grid-template-columns: repeat(4, 25%);
    }

    nav li {
        display: grid;
        justify-items: center;
    }

    nav ul, nav a {
        padding: 0;
    }

    nav a:hover {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    header a {
        font-size: 40px;
    }

    nav li {
        font-size: 15px;
    }

    section {
        width: calc(100vw - 100px);
    }
}


@media screen and (max-width: 400px) {
    article, p, li {
        font-size: 15px;
    }
}

@media screen and (max-width: 350px) {
    .latex {
        font-size: 10px;
    }
}

@media screen and (max-height: 600px) and (max-width: 650px) {
    aside {
        position: relative;
    }

    main {
        margin: 25px 25px 25px 25px;
        min-height: calc(100vh - 247px);
    }
}