div.graph {
    display: grid;
    justify-items: center;
}

img.graph {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
    width: 400px;
    height: 400px;
    box-shadow: 3px 3px 3px lightgray;
}

ol li p {
    padding: 10px 0;
}

ol li:last-child p {
    padding-bottom: 0;
}