form {
    display: grid;
    grid-template-rows: 25px 25px 100px;
    row-gap: 10px;
    padding: 20px;
    background: whitesmoke;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 3px lightgray;
    border-radius: 5px;
}

form p {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 75%;
    align-items: center;
}

label {
    font-size: 15px;
    font-weight: bold;
    color: darkred;
    font-family: 'Roboto', sans-serif;
}

form div {
    display: grid;
    justify-items: center;
    align-items: center;
}

input#submit {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background: darkred;
    color: white;
    width: 25%;
    padding: 10px;
    border: 1px solid darkred;
    border-radius: 5px;
}

input#submit:hover {
    cursor: pointer;
    background: red;
    border: 1px solid red;
}