form {
    display: grid;
    grid-template-rows: repeat(3, 25px);
    row-gap: 10px;
    padding: 10px;
    background: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
}

form p {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 75%;
    align-items: center;
}

label {
    font-size: 15px;
    font-weight: bold;
}

form div {
    display: grid;
    justify-items: center;
    align-items: center;
}

input#submit {
    width: 25%;
}