div.snippet {
    display: grid;
    justify-items: center;
}

div.single {
    margin-left: -40px;
}

div.double {
    margin-left: -80px;
}

article.snippet {
    background: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    max-height: 600px;
    overflow-x: scroll;
    overflow-y: scroll;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 3px lightgray;
    margin: 10px 0;
}

ol li ul li p {
    padding: 10px 0;
}

pre {
    margin: 0;
}

.keys {
    color: red
}

.strings {
    color: blue;
}

.numbers {
    color: green;
}

.null {
    color: purple;
}

@media screen and (max-width: 750px) {
    article.snippet {
        width: 300px;
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    article.snippet {
        width: 200px;
        font-size: 10px;
    }

    section h2, section ol {
        width: calc(100vw - 100px);
    }

    section ul li, section ol li {
        width: calc(100vw - 140px);
    }

    section ol ul li, section ul ul li {
        width: calc(100vw - 180px);
    }
    
    section ul ul ul li {
        width: calc(100vw - 220px);
    }

    div.snippet {
        width: calc(100vw - 100px);
    }
}

@media screen and (max-width: 350px) {
    article.snippet {
        width: 150px;
    }

    code {
        font-size: 10px;
    }
}