.snippet {
    background: lightgray;
    border-radius: 5px;
    padding: 10px;
    max-width: 400px;
    max-height: 400px;
    overflow-x: scroll;
    overflow-y: scroll;
    border: 1px solid gray;
    margin: 10px 0;
}

pre {
    margin: 0;
}

.keys {
    color: red
}

.strings {
    color: blue;
}

.numbers {
    color: green;
}

.null {
    color: purple;
}