<h4>Cubic</h4>

<ul>
    <li>
        <h5>Description</h5>

        <p>
            Curve with potentially both a maximum and a minimum
        </p>
    </li>

    <li>
        <h5>Application</h5>

        <p>
            Best suited to situations where you assume a variable can be maximized at one instance and minimized at another
        </p>
    </li>

    <li>
        <h5>General Form</h5>

        <p lang="latex">
            y = a\cdot{x^3} + b\cdot{x^2} + c\cdot{x} + d
        </p>
    </li>

    <li>
        <h5>Specific Example</h5>

        <p lang="latex">
            y = x^3 - 15\cdot{x^2} + 63\cdot{x} - 31
        </p>
        
        <img src="/images/cubic.png" alt="cubic graph">
    </li>
</ul>