<article>
    <h3>Cubic</h3>

    <ul>
        <li>
            <h4>Description</h4>

            <p>
                Curve with potentially both a maximum and a minimum
            </p>
        </li>

        <li>
            <h4>Application</h4>

            <p>
                Best suited to situations where you assume a variable can be maximized at one instance and minimized at another
            </p>
        </li>

        <li>
            <h4>General Form</h4>

            <p>
                $ y = a\cdot{x^3} + b\cdot{x^2} + c\cdot{x} + d $
            </p>
        </li>

        <li>
            <h4>Specific Example</h4>

            <p>
                $ y = x^3 - 15\cdot{x^2} + 63\cdot{x} - 31 $
            </p>

            <img 
                src="/images/cubic.png" 
                class="graph"
                alt="cubic graph"
            >
        </li>
    </ul>
</article>