<article>
    <h3>Exponential</h3>

    <ul>
        <li>
            <h4>Description</h4>

            <p>
                Curve that increases or decreases at a faster rate than any of its peers
            </p>
        </li>

        <li>
            <h4>Application</h4>

            <p>
                Best suited to situations where you assume the output will increase or decrease rapidly and without any limits
            </p>
        </li>

        <li>
            <h4>General Form</h4>

            <p lang="latex">
                y = a\cdot{b^x}
            </p>
        </li>

        <li>
            <h4>Specific Example</h4>

            <p lang="latex">
                y = 2\cdot{3^x}
            </p>

            <img 
                src="/images/exponential.png" 
                class="graph"
                alt="exponential graph"
            >
        </li>
    </ul>
</article>