<article>
    <h3>Hyperbolic</h3>

    <ul>
        <li>
            <h4>Description</h4>

            <p>
                Curve that approaches an asymptote
            </p>
        </li>

        <li>
            <h4>Application</h4>

            <p>
                Best suited to situations where you assume the output will fall to a certain value over time
            </p>
        </li>

        <li>
            <h4>General Form</h4>

            <p lang="latex">
                y = a\cdot{\frac{1}{x}} + b
            </p>
        </li>

        <li>
            <h4>Specific Example</h4>

            <p lang="latex">
                y = 2\cdot{\frac{1}{x}} + 3
            </p>

            <img src="/images/hyperbolic.png" alt="hyperbolic graph">
        </li>
    </ul>
</article>