<article>
    <h3>Inflections</h3>

    <ul>
        <li>
            Points of inflection where the graph changes its concavity and either stops increasing and starts decreasing or stops decreasing and starts increasing
        </li>

        <li>
            First coordinate of the point is the x-value where the graph changes its concavity; second coordinate is the y-value that happens to occur during this changing of concavity
        </li>

        <li>
            Some functions have multiple inflection points (e.g., sinusoidal), while others have only one inflection point (e.g., cubic), and others have none (e.g., linear)
        </li>

        <li>
            This cubic function has an inflection point at <code>(5.0, 34.0)</code>

            <img 
                src="/images/inflection.png" 
                class="graph"
                alt="graph of inflection point"
            >
        </li>
    </ul>
</article>