<article>
    <h3>Logarithmic</h3>

    <ul>
        <li>
            <h4>Description</h4>

            <p>
                Curve that grows slowly
            </p>
        </li>

        <li>
            <h4>Application</h4>

            <p>
                Best suited to situations where you assume the output will increase at a slower-than-linear rate
            </p>
        </li>

        <li>
            <h4>General Form</h4>

            <p>
                $ y = a\cdot{\ln{x}} + b $
            </p>
        </li>

        <li>
            <h4>Specific Example</h4>

            <p>
                $ y = 2\cdot{\ln{x}} + 3 $
            </p>
        </li>
    </ul>

    <div class="graph">
        <img 
            src="/images/logarithmic.png" 
            class="graph"
            alt="logarithmic graph"
        >
    </div>
</article>