<h4>Logistic</h4>

<ul>
    <li>
        <h5>Description</h5>

        <p>
            Curve that passes through a period of exponential growth before approaching an asymptote
        </p>
    </li>

    <li>
        <h5>Application</h5>

        <p>
            Best suited to situations where you assume the output will increase rapidly before levelling off
        </p>
    </li>

    <li>
        <h5>General Form</h5>

        <p lang="latex">
            y = \frac{a}{1 + \text{e}^{-b\cdot(x - c)}}
        </p>
    </li>

    <li>
        <h5>Specific Example</h5>

        <p lang="latex">
            y = \frac{2}{1 + \text{e}^{-3\cdot(x - 5)}}
        </p>
        
        <img src="/images/logistic.png" alt="logistic graph">
    </li>
</ul>