<article>
    <h3>Maxima</h3>

    <ul>
        <li>
            Turning points where the graph reaches a relative maximum value before decreasing
        </li>

        <li>
            First coordinate of the point is the x-value where the graph achieves the maximum; second coordinate is the maximum value itself
        </li>

        <li>
            Some functions have multiple points at which they achieve the same maximal value (e.g., sinusoidal), while others have only one maxima (e.g., cubic), and others have none (e.g., linear)
        </li>

        <li>
            This cubic function has a maximum at <code>(3.0, 50.0)</code>
        </li>
    </ul>

    <div class="graph">
        <img 
            src="/images/maximum.png" 
            class="graph"
            alt="graph of maximum point"
        >
    </div>
</article>