<article>
    <h3>Minima</h3>

    <ul>
        <li>
            Turning points where the graph reaches a relative minimum value before increasing
        </li>

        <li>
            First coordinate of the point is the x-value where the graph achieves the minimum; second coordinate is the minimum value itself
        </li>

        <li>
            Some functions have multiple points at which they achieve the same minimal value (e.g., sinusoidal), while others have only one minima (e.g., cubic), and others have none (e.g., linear)
        </li>

        <li>
            This cubic function has a minimum at <code>(7.0, 18.0)</code>

        </li>
    </ul>

    <div class="graph">
        <img 
            src="/images/minimum.png" 
            class="graph"
            alt="graph of minimum point"
        >
    </div>
</article>