<article>
    <h3>Quadratic</h3>

    <ul>
        <li>
            <h4>Description</h4>

            <p>
                Parabola with either a maximum or a minimum
            </p>
        </li>

        <li>
            <h4>Application</h4>

            <p>
                Best suited to situations where you hope to maximize or minize a specific variable
            </p>
        </li>

        <li>
            <h4>General Form</h4>

            <p>
                $ y = a\cdot{x^2} + b\cdot{x} + c $
            </p>
        </li>

        <li>
            <h4>Specific Example</h4>

            <p>
                $ y = x^2 - 12\cdot{x} + 66 $
            </p>

            <img 
                src="/images/quadratic.png" 
                class="graph"
                alt="quadratic graph"
            >
        </li>
    </ul>
</article>