<h4>Quadratic</h4>

<ul>
    <li>
        <h5>Description</h5>

        <p>
            Parabola with either a maximum or a minimum
        </p>
    </li>

    <li>
        <h5>Application</h5>

        <p>
            Best suited to situations where you hope to maximize or minize a specific variable
        </p>
    </li>

    <li>
        <h5>General Form</h5>

        <p lang="latex">
            y = a\cdot{x^2} + b\cdot{x} + c
        </p>
    </li>

    <li>
        <h5>Specific Example</h5>

        <p lang="latex">
            y = x^2 - 12\cdot{x} + 66
        </p>
        
        <img src="/images/quadratic.png" alt="quadratic graph">
    </li>
</ul>