<article>
    <h3>Roots</h3>

    <ul>
        <li>
            Points where the graph crosses the x-axis
        </li>

        <li>
            First coordinate of the point is the x-value where the graph crosses the x-axis; second coordinate is 0 (the y-coordinate of all x-intercepts)
        </li>

        <li>
            Some functions have multiple roots (e.g., cubic, sinusoidal), while others have only one (e.g., linear), and others have none (e.g., exponential)
        </li>

        <li>
            This cubic function has a root at <code>(0.5653, 0.0)</code>

            <img src="/images/root.png" alt="graph of root point">
        </li>
    </ul>
</article>