<article>
    <h3>Sinusoidal</h3>

    <ul>
        <li>
            <h4>Description</h4>

            <p>
                Curve that oscillates back and forth between a maximum and minimum value
            </p>
        </li>

        <li>
            <h4>Application</h4>

            <p>
                Best suited to situations where you expect cyclical behavior
            </p>
        </li>

        <li>
            <h4>General Form</h4>

            <p class="latex">
                $ y = a\cdot{\sin(b\cdot(x - c))} + d $
            </p>
        </li>

        <li>
            <h4>Specific Example</h4>

            <p class="latex">
                $ y = 5\cdot{\sin(2\cdot(x - 3))} + 7 $
            </p>
        </li>
    </ul>

    <div class="graph">
        <img 
            src="/images/sinusoidal.png" 
            class="graph"
            alt="sinusoidal graph"
        >
    </div>
</article>