<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'subheads/settings.html' %}

        {% include 'subheads/aspects.html' %}
        
        {% include 'subheads/icons.html' %}

        {% block style %}
            <link 
                rel="stylesheet" 
                type="text/css" 
                href="{{ url_for(
                    'static', 
                    filename='style/main.css'
                ) }}"
            >
        {% endblock %}

        <title>
            {% block title %}
                Regressionz
            {% endblock %}
        </title>
    </head>

    <body>
        {% include 'partials/header.html' %}
    
        {% include 'partials/navigation.html' %}
            
        <main>
            {% block content %}
            {% endblock %}
        </main>
        
        {% include 'partials/footer.html' %}

        <script 
            type="text/javascript" 
            src="http://latex.codecogs.com/latexit.js" 
        >
            Render inline LaTeX code
        </script>
    </body>
</html>