{% extends 'base.html' %}

{% block content %}
    <h2>Sign Up</h2>
    <form action='' method='post'>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}: {{ form.name }}
            {% for error in form.username.errors %}
                <span style='color: red;'>[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}: {{ form.email }}
            {% for error in form.username.errors %}
                <span style='color: red;'>[{{ error }}]</span>
            {% endfor %}
        </p>
    </form>
{% endblock %}